@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root{
    --blogs-wrapper-color:rgb(219, 219, 201);
    
}

#blogs-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 100;

}

#blogs-title{
    /* position: fixed; */
    /* margin-top: 30px; */
    font-size: clamp(32px,5vw,100px);
    font-family: "Archivo Black", sans-serif;
    z-index: 200;
}

#blogs-wrapper{
    /* position: fixed; */
    margin-top: 20px;
    background-color: var(--blogs-wrapper-color);
    width: 70%;
    height: 60%;
    border-radius: 10px;
    border: 2px solid black;
    /* top: 20%; */
    min-height: 200px;
    min-height: 300px;
}

/* phone */
@media screen and (max-width:480px) {
    #blogs-wrapper{

    }

}
