:root{
    --container-color:rgba(255, 255, 255, 0.8);
    --hide-left:-30%+2px;
    --burger-color:rgb(212, 212, 212);
    --burger-hover-color: rgb(175, 175, 175);
}


#burger-elements{
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    display: flex;
    justify-content: center;
    width: 30%;
    background-color: var(--container-color);
    border: 2px solid black;
    min-width: 200px;
    transition: transform .3s ease;
}

#burger-elements.open{
    transform: translateX(0);
}

#pages{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    z-index: 3;
}

.page-links{
    text-decoration: none;
}

.page{
    margin: 20px 0;
    text-align: center;
    color: black;
}

.page:hover{
    color: green;
    transition: color .2s ease-in-out;
    cursor: pointer;
}

#burger{
    z-index: 30000;
    position: fixed;
    border: 2px solid black;
    padding: 5px;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    background-color: var(--burger-color);
}

#burger:hover{
    cursor: pointer;
    background-color: var(--burger-hover-color);
}

/* @keyframes move_to_right {
    0% {left: calc(-30% - 2px);}
    100% {left: 0;}
} */
/* 
.burger:active .container{
    left: 0;
    transition: left .3s;
} */