#foot-container{
    width: 100vw;
    height: 100vh;
    position: fixed;
    /* background-color: beige; */
    top: 0;
    left: 0;
    z-index: -20;
    background-color: beige;
}

#big-div{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: relative;
}

.icons{
    width: 100vw;
    height: 50px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;


    
}

.links{
    color: inherit;
    text-decoration: none;
}

.icon{
    margin: 0 20px;
    color: white;
}

.icon:hover{
    cursor: pointer;
}

#youtube-icon:hover{
    color: red;
    transition: color .2s ease-in-out;
}

#github-icon:hover{
    color: rgb(158, 158, 158);
    transition: color .2s ease-in-out;
}

#discord-icon:hover{
    color: rgb(88, 119, 255);
    transition: color .2s ease-in-out;
}