:root{
    --post-container-hover:rgb(233, 233, 195);
}

#post-container{
    display: flex;
    /* grid-template-columns: 1fr 1fr; */
    align-items: center;
    justify-content: center;
    background-color: bisque;
    /* align-self: center; */
    justify-self: center;
    width: 80%;
    height: 30%;
    margin: 10px 0;
    border: 1.5px solid black;
    border-radius: 10px;
    position: relative;
    padding: 2px;
    transform: scale(1.0);
    overflow-y: scroll;
    /* background-color: brown; */
}

#post-container:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: var(--post-container-hover);
    transition: transform .2s ease;
}

#post-info{
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    overflow-x: hidden;
    /* overflow-y: auto; */
    /* ============ brute force solution for the problem ===========*/
    width: 1300%;
}

.post-pic{
    width: 20%;
    height: 80%;
    min-height: 50px;
    min-width: 50px;
    /* aspect-ratio: 1/1; */
    margin: 0 20px;
}

#post-pic-wrapper{
    display: flex;
    align-items: center;
}

#post-teleporter{
    text-decoration: none;
    color: inherit;

}

.post-name{
    font-weight: bold;
    /* overflow-y: auto; */
}

.post-desc{
    /* overflow-y: auto; */
}

@media screen and (max-width:480px) {
    #post-container{
        height: 40%;
    }
    .post-pic{
        margin: 0;
    }
}
