#foot-container{
    width: 100vw;
    height: 80px;
    position: fixed;
    /* background-color: beige; */
    top: 0;
    left: 0;
    /* visibility: hidden; */
    /* background-color: beige; */
    pointer-events: none;
    z-index: 1000;
    /* overflow-x: hidden; */
}

#big-div{
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: relative;
}

.icons{
    pointer-events:all;
    z-index: -1;
    width: 100vw;
    height: 80px;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    position: absolute;
    bottom: 0;


    
}

.links{
    color: inherit;
    text-decoration: none;
}

.icon{
    margin: 0 30px;
    color: white;
    font-size: clamp(32px,7%,72px);
}

.icon:hover{
    cursor: pointer;
}

#youtube-icon:hover{
    color: red;
    transition: color .2s ease-in-out;
}

#github-icon:hover{
    color: rgb(158, 158, 158);
    transition: color .2s ease-in-out;
}

#discord-icon:hover{
    color: rgb(88, 119, 255);
    transition: color .2s ease-in-out;
}


/* phone */
@media screen and (max-width:480px) {
    .icons{
        height: 50px;
    }
    #foot-container{
        height: 50px;
    }


}