body{
    margin: 0;
    background-color: beige;
}

html{
    background-color: beige;
}

::-webkit-scrollbar {
  width: 10px;
  background: rgb(223, 223, 200);
    border-radius: 5px;
    border: 1px solid rgb(109, 109, 104);
}

::-webkit-scrollbar-thumb {
  

}